<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="actions">
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked"/>
              <p class="select-box__input-text">Cream</p>
            </div>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="0" aria-hidden="aria-hidden">Cream</label>
            </li>
          </ul>
        </div>
        <input type="text" name="" value="">
    </div>

    <% projects.forEach((row) => { %>
    <div class="usercard">
        <div class="user avatar"></div>
        <div class="card-content">
            <h2 class="author expand" data-title="<%= row.thema %>"><%= row.title %></h2>
            <p class="date"><%= row.subject %> • <%= row.filedate %></p>
        </div>
        <div class="file-card-left">
            <a href="/dl-icon.png" download>
                <img src="/dl-icon.png" alt="download-icon">
            </a>
        </div>
    </div>
    <br>
    <% }); %>
</body>
</html>
